@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/Flat-UI-Icons.eot');
  src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/
.fui-arrow-right,
.fui-arrow-left,
.fui-cmd,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-gear,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-calendar-solid,
.fui-pause,
.fui-play,
.fui-check-inverted-2 {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.fui-arrow-right:before {
  content: "\e02c";
}
.fui-arrow-left:before {
  content: "\e02d";
}
.fui-cmd:before {
  content: "\e02f";
}
.fui-check-inv
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.drop-ie-gradient {
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.chu-headline {
  padding: 20px 0 20px;
  text-align: center;
}
.chu-logo {
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 100px;
  color: rgba(236, 239, 240, 1);
}
.chu-logo .logo {
  background: url(../images/cslogo.png) center 0 no-repeat;
  background-size: 256px 186px;
  height: 186px;
  margin: 0 auto 15px;
  overflow: hidden;
  text-indent: -9999em;
  width: 256px;
}
.chu-logo small {
  color: rgba(236, 239, 240, 1);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
}

/* Standard Screen size for labels */
@media only screen and (min-width : 1200px){
.list-row {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
}

@media only screen and (min-width : 569px) and (max-width: 1199px) {
  .list-row {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
}

@media only screen and (max-width: 568px) {
  .list-row {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../images/demo/cslogo-2x.png);
  }
  .demo-browser {
    background-image: url(../images/demo/browser-2x.png);
  }
}
body {
  color: #ffffff;
  background-color: #2C3E50;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
.topPart {
background-color: #2C3E50;
}

.programmingLanguage {
background-color: #1abc9c;
text-align:center;
display:none;

}

.projects {
background-color: #f1c40f;
text-align:center;
display:none;

}

.relatedCoursework {
background-color: #e74c3c;
text-align:center;
display:none;
}

.experience {
background-color: #2ecc71;
text-align:center;
display:none;
}

.resume {
background-color: #F39C12;
text-align:center;
display:none;
}

.aboutMe {
background-color: #3498db;
text-align:center;
display:none;
}

.music {
background-color: #9B59B6;
text-align:center;
display:none;
}

.externalLinks {
background-color: #7F8C8D;
text-align:center;
display:none;
}


input,
button,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: underline;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  font-weight: 900;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */

  font-weight: 500;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-large {
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
  padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
.btn.btn-pl {
  background-color: #1abc9c;
}
.btn.btn-pl:hover,
.btn.btn-pl:focus,
.btn-group:focus .btn.btn-pl.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-pl:active,
.btn-group.open .btn.btn-pl.dropdown-toggle,
.btn.btn-pl.active {
  background-color: #16a085;
}

.btn.btn-res {
  background-color: #F39C12;
}
.btn.btn-res:hover,
.btn.btn-res:focus,
.btn-group:focus .btn.btn-res.dropdown-toggle {
  background-color: #E67E22;
}
.btn.btn-res:active,
.btn-group.open .btn.btn-res.dropdown-toggle,
.btn.btn-res.active {
  background-color: #D35400;
}

.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}

.btn.btn-mus {
  background-color: #9B59B6;
}
.btn.btn-mus:hover,
.btn.btn-mus:focus,
.btn-group:focus .btn.btn-mus.dropdown-toggle {
  background-color: #8E44AD;
}
.btn.btn-mus:active,
.btn-group.open .btn.btn-mus.dropdown-toggle,
.btn.btn-mus.active {
  background-color: #855FA8;
}

.btn.btn-ext {
  background-color: #7F8C8D;
}
.btn.btn-ext:hover,
.btn.btn-ext:focus,
.btn-group:focus .btn.btn-ext.dropdown-toggle {
  background-color: #95A5A6;
}
.btn.btn-ext:active,
.btn-group.open .btn.btn-ext.dropdown-toggle,
.btn.btn-ext.active {
  background-color: #95A5A6;
}

.btn.btn-rc {
  background-color: #e74c3c;
}
.btn.btn-rc:hover,
.btn.btn-rc:focus,
.btn-group:focus .btn.btn-rc.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-rc:active,
.btn-group.open .btn.btn-rc.dropdown-toggle,
.btn.btn-rc.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-projects {
  background-color: #f1c40f;
}
.btn.btn-projects:hover,
.btn.btn-projects:focus,
.btn-group:focus .btn.btn-projects.dropdown-toggle {
  background-color: #f5d313;
}
.btn.btn-projects:active,
.btn-group.open .btn.btn-projects.dropdown-toggle,
.btn.btn-projects.active {
  background-color: #cda70d;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn > [class^="fui-"] {
  margin: 0 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  top: 0;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}